mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+b.section-title
				h1 Вживана сільськогосподарська техніка
			p До&nbsp;вашої уваги пропонуємо вживану сільськогосподарську техніку. Ідеальне рішення, коли потрібно розумно витрачати гроші та&nbsp;не&nbsp;переплачувати зайвого.
			+e.buttons.row.align-items-center.justify-content-center
				mixin col(t)
					.col-auto
						+e.btn.btn.btn-primary(href="#")!= t
				+col("Мульчувач	FIGHTER 2600")
				+col("Мульчер-ротоватор Hammer-S 2600")
				+col(`Кран Palfinger 10&nbsp;000`)
				+col("Трактор Claas Axion 950")
				+col("Плуг ER.MO SPEM 8")
			p Оглянути техніку можна на&nbsp;нашому майданчику, на&nbsp;виробництві, що&nbsp;знаходиться у&nbsp;м. Олександрія, Кіровоградська обл.
			mixin block(i, data, strong, ...items)
				h3!= data.title
				.row.pb-default
					.col-lg-5
						+e.imgWrap
							+pic(`bu-${i}.jpg`)
					.col
						p!= data.p1
						p!= data.p2
						if data.p5
							p!= data.p5
						if data.p6
							p!= data.p6
				strong.pb-default.d-block Основні технічні характеристики
				+e.UL.columslist.pb-default
					-for (var i = 0; i < items.length; i++)
						li!= items[i]
				if data.p3
					p!= data.p3
				if data.p4
					p!= data.p4
				blockquote.h4.text-center.bg-light.fw-bold.mb-lg З питаннями звертайтесь до наших менеджерів на сторінці #[a(href="#") контакти.]
			+block('1',{
				title: `Мульчувач FIGHTER 2600`,
				p1: `Розроблений спеціально для подрібнення гілок, кущів, дерев до&nbsp;40&nbsp;см в&nbsp;діаметрі, пнів, великих гілок після вирубування лісів. Працює техніка без заглиблення.`,
				p2: `Рекомендована потужність трактора від 300&nbsp;&mdash; 400 к.с. Максимально надійний та&nbsp;непримхливий в&nbsp;роботі, економне споживання палива, простий в&nbsp;експлуатації.`,
				p3: `Мульчувач укомплектований захисними гідромуфтами. Вони збільшують термін служби техніки&nbsp;&mdash; відповідають за&nbsp;плавну передачу обертального моменту на&nbsp;ротор, захищають від перевантажень, знімають пікові навантаження з&nbsp;ременів, редуктора та&nbsp;ВВП трактора.`,
				p4: `Більш надійного захисту для вашої техніки вам не&nbsp;знайти. Запчастини завжди в&nbsp;наявності на&nbsp;складі.`,
			},`Загальна ширина – 3 060 мм.`,`Робоча ширина – 2 600 мм.`,`Вага  – 3 900 кг.`,`Фіксованих молотків – 64 шт.`,`Ротор барабанного типу  –  Ø 65 см.`,`Швидкість обертання ротора – 2 000 об/хв.`,'ВВП  – 1 000 об/хв.')
			+block('2',{
				title: `Мульчер-ротоватор Hammer-S 2600`,
				p1: `Розроблений спеціально для обробки ґрунту на&nbsp;глибину до&nbsp;40&nbsp;см, подрібнення пнів і&nbsp;коріння діаметром до&nbsp;60&nbsp;см. Працює із&nbsp;заглибленням.`,
				p2: `Рекомендована потужність трактора від 300&nbsp;&mdash; 400 к.с. Продуктивність роботи техніки від 5&nbsp;Га за&nbsp;добу, заощадливе споживання дизпалива, максимально надійна та&nbsp;непримхлива до&nbsp;умов роботи, запчастини завжди в&nbsp;наявності на&nbsp;складі.`,
			},`Загальна ширина – 3 105 мм.`,`Робоча ширина – 2 600 мм.`,`Вага&nbsp;&mdash; 4&nbsp;775&nbsp;кг.`,`Фіксованих молотків&nbsp;&mdash; 56&nbsp;шт.`,`Ротор барабанного типу  –  Ø 75 см.`,`Швидкість обертання ротора&nbsp;&mdash; 540&nbsp;об/хв.`,`ВВП&nbsp;&mdash; 1&nbsp;000&nbsp;об/хв.`)
			+block('3',{
				title: `Кран Palfinger 10&nbsp;000`,
				p1: `Надійний помічник для вантажно-розвантажувальних робіт. Має оптимальне співвідношення власної ваги та&nbsp;вантажності, легко складається в&nbsp;транспортному положенні, монтується майже на&nbsp;всі вантажні автомобілі.`,
				p2: `Рекомендується для робіт в&nbsp;сільському господарстві при транспортуванні посівного матеріалу, мінеральних добрив, врожаю зернових та&nbsp;інших культур в&nbsp;мішках Big Bag.`,
				p5: `В&nbsp;лісової та&nbsp;ремонтно-будівельної діяльності, кран-маніпулятор при використанні з&nbsp;відповідними робочими органами, сприяє переміщенню різних вантажів, пакетованої тари, лісоматеріали, незамінний при ремонтно-відновлювальних, монтажних і&nbsp;демонтажних роботах.`,
				p3: `Чому варто обирати відновлений кран: вартість у 2 рази дешевше на відміну від нового, кран перебраний на нових комплектуючих, встановлений новий насос високого тиску. За бажанням клієнта, здійснюємо установку крана на автомобіль з гарантією.`,
			},`Підіймальний момент&nbsp;&mdash; 93,5&nbsp;кНм.`,`Виліт стріли – 9,6 м.`,`Максимальна вантажність&nbsp;&mdash; 5460&nbsp;кг.`,`Вантажність на&nbsp;кінці стріли&nbsp;&mdash; 1000&nbsp;кг.`,`Кут повороту&nbsp;&mdash; 360˚.`,`Власна вага&nbsp;&mdash; 1200&nbsp;кг.`,`Гарантія 6&nbsp;місяців.`)
			+block('4',{
				title: `Трактор Claas Axion 950`,
				p1: `Пропонуємо трактор Claas Axion 950 потужністю 410 к.с.&nbsp;в&nbsp;максимальній комплектації, розумна система управління двигуном, низьке споживання палива.`,
				p2: `Рекомендований для сільськогосподарських, промислових та&nbsp;транспортних робіт. Завдяки підтримці різного навісного обладнання машина здатна виконувати наступні операції&nbsp;&mdash; підгортання, культивацію, боронування, оранку, навантаження та&nbsp;розвантаження, а&nbsp;також інші сільськогосподарські завдання.`,
				p3: `Зроблений повний капремонт двигуна та&nbsp;проведене повне ТО. Встановлений новий компресор. Обслуговувався в&nbsp;офіційного дилера CLAAS, є&nbsp;повна сервісна історія.`,
				p4: `Обслуговувався в&nbsp;офіційного дилера CLAAS, є&nbsp;повна сервісна історія. Введений в&nbsp;експлуатацію у&nbsp;2017&nbsp;році.`,
			},`Виробник&nbsp;&mdash; Claas (Германія).`,`Тип двигуна&nbsp;&mdash; шестициліндровий дизель FPT.`,`Робочий об&rsquo;єм&nbsp;&mdash; 8,7&nbsp;л.`,`Місткість паливного бака&nbsp;&mdash; 700&nbsp;л.`,`Періодичність заміни олії&nbsp;&mdash; 600&nbsp;год.`,`Вантажопідйомність заднього навішування&nbsp;&mdash; 11&nbsp;250&nbsp;кг.`,`Розміри передніх коліс: 620/75R30.`,`Розміри задніх коліс: 710/85R38.`,`Об&rsquo;єм колісної бази&nbsp;&mdash; 3&nbsp;150&nbsp;мм.`,`Кліренс&nbsp;&mdash; 611&nbsp;мм.`,`Розміри трактора, мм:<br> Довжина&nbsp;&mdash; 5&nbsp;744, Ширина&nbsp;&mdash; 2&nbsp;937, Висота&nbsp;&mdash; 3&nbsp;452.`,`Маса трактора&nbsp;&mdash; 13&nbsp;тонн.`)
			+block('5',{
				title: `Плуг ER.MO SPEM&nbsp;8`,
				p1: `Час робити правильний вибір! `,
				p2: `Плуг ER.MO SPEM&nbsp;8 (7+1), виробник Італія.`,
				p5: `Надійні та ефективний, виготовлені із надзвичайно міцних та стійких до зношування матеріалів, шведська сталь Strenx 700 та Hardox 450.`,
				p6: `Плуги ERMO SPEM здатні витримувати великі навантаження завдяки вдало продуманій конструкції агрегату. Гідравлічна система регулювання робочої глибини забезпечує ідеальну оранку на&nbsp;ґрунтах різних типів.`,
				p3: `Основне шасі виконано без зварювання та&nbsp;отворів. Всі опори стійок кріпляться за&nbsp;допомогою сталевих кронштейнів, закріплених болтами&nbsp;&mdash; відповідно зменшується напруга при скручуванні на&nbsp;головному шасі.`,
			},`Режим обробки ґрунту: &laquo;по&nbsp;полю&raquo; (on-land) та&nbsp;&laquo;по&nbsp;борозні&raquo;.`,`Тип зчеплення&nbsp;&mdash; причіпна.`,`Необхідна потужність трактора: 250-350 к.с.`,`Робоча ширина: 280&nbsp;&mdash; 320&nbsp;&mdash; 360&nbsp;см.`,`Робоча глибина: 25-35&nbsp;см.`,`Рама: 120&times;200&nbsp;мм.`)

	// end sContent